<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.demo.mapper.ActiveDataMapper">

    <!--
    SELECT @rownum as title,SUM(day_count) totalData FROM (SELECT @rownum:='日活') r,ads_uv_count
        <choose>
            <when test="thisEntryDate !=null and thisEntryDate != ''">
                WHERE DATE_SUB(#{thisEntryDate}, INTERVAL 9 DAY) &lt;= date(dt) AND dt &lt;= #{thisEntryDate}
            </when>
            <otherwise>
                WHERE DATE_SUB(now(), INTERVAL 9 DAY) &lt;= date(dt) AND dt &lt;= now()
            </otherwise>
        </choose>
    -->
    <select id="queryDayCount" parameterType="java.util.HashMap" resultType="ActiveTotalData">

        SELECT @rownum as title,day_count totalData FROM (SELECT @rownum:='日活') r,ads_uv_count
        <choose>
            <when test="thisEntryDate !=null and thisEntryDate != ''">
                WHERE #{thisEntryDate} = DATE_FORMAT(dt, "%Y-%m-%d")
            </when>
            <otherwise>
                WHERE  DATE_FORMAT(now(), "%Y-%m-%d") = DATE_FORMAT(dt, "%Y-%m-%d")
            </otherwise>
        </choose>
    </select>
    <select id="queryDay" parameterType="java.util.HashMap" resultType="ActiveData">
        SELECT dt date,day_count activeCount FROM ads_uv_count
        <choose>
            <when test="thisEntryDate !=null and thisEntryDate != ''">
                WHERE DATE_SUB(#{thisEntryDate}, INTERVAL 9 DAY) &lt;= date(dt) AND DATE_FORMAT(dt, "%Y-%m-%d")&lt;=#{thisEntryDate}
            </when>
            <otherwise>
                WHERE DATE_SUB(now(), INTERVAL 9 DAY) &lt;= date(dt) AND DATE_FORMAT(dt, "%Y-%m-%d") &lt;= DATE_FORMAT(now(), "%Y-%m-%d")
            </otherwise>
        </choose>
        ORDER BY dt desc
    </select>


    <!--SELECT @rownum title,sum(a.wk_count) totalData from (SELECT @rownum:='周活') r,(SELECT * FROM ads_uv_count WHERE is_weekend = 'Y' AND dt &lt;= #{thisEntryDate} ORDER BY dt desc limit 9) a-->
    <select id="queryWkCount"  parameterType="java.util.HashMap" resultType="ActiveTotalData">
        SELECT @rownum title,a.wk_count totalData,a.is_weekend is_weekend from (SELECT @rownum:='周活') r,(SELECT * FROM ads_uv_count
        <choose>
            <when test="thisEntryDate !=null and thisEntryDate != ''">
                WHERE DATE_FORMAT(dt, "%Y-%m-%d") = #{thisEntryDate}
            </when>
            <otherwise>
                WHERE DATE_FORMAT(dt, "%Y-%m-%d") = DATE_FORMAT(now(), "%Y-%m-%d")
            </otherwise>
        </choose>
        ORDER BY dt desc limit 63) a
    </select>
    <select id="queryWk" parameterType="java.util.HashMap" resultType="ActiveData">
        SELECT dt date,wk_count activeCount,is_weekend is_weekend FROM ads_uv_count
        <choose>
            <when test="thisEntryDate !=null and thisEntryDate != ''">
                WHERE DATE_FORMAT(dt, "%Y-%m-%d")&lt;=#{thisEntryDate}
            </when>
            <otherwise>
                WHERE DATE_FORMAT(dt, "%Y-%m-%d") &lt;= DATE_FORMAT(now(), "%Y-%m-%d")
            </otherwise>
        </choose>
        ORDER BY dt desc limit 63
    </select>

    <select id="queryMonCount" parameterType="java.util.HashMap" resultType="ActiveTotalData">
        SELECT @rownum title,a.mn_count totalData,a.is_monthend is_monthend from (SELECT @rownum:='月活') r,(SELECT * FROM ads_uv_count
        <choose>
            <when test="thisEntryDate !=null and thisEntryDate != ''">
                WHERE DATE_FORMAT(dt, "%Y-%m-%d") = #{thisEntryDate}
            </when>
            <otherwise>
                WHERE DATE_FORMAT(dt, "%Y-%m-%d") = DATE_FORMAT(now(), "%Y-%m-%d")
            </otherwise>
        </choose>
        ORDER BY dt desc limit 12) a
    </select>
    <select id="queryMon" parameterType="java.util.HashMap" resultType="ActiveData">
        SELECT dt date,mn_count activeCount,is_monthend is_monthend FROM ads_uv_count
        <choose>
            <when test="thisEntryDate !=null and thisEntryDate != ''">
                WHERE DATE_FORMAT(dt, "%Y-%m-%d")&lt;=#{thisEntryDate}
            </when>
            <otherwise>
                WHERE DATE_FORMAT(dt, "%Y-%m-%d") &lt;= DATE_FORMAT(now(), "%Y-%m-%d")
            </otherwise>
        </choose>
        ORDER BY dt desc limit 270
    </select>


    <select id="queryRetainData" resultType="RetainData">
        SELECT stat_date,
        MAX(CASE DATE_FORMAT(stat_date, "%Y-%m-%d") WHEN DATE_FORMAT(DATE_ADD(create_date,INTERVAL 1 DAY),"%Y-%m-%d") THEN new_mid_count ELSE 0 END) new_mid_count,
        MAX(CASE retention_day WHEN 1 THEN retention_ratio ELSE 0 END) d1,
        MAX(CASE retention_day WHEN 2 THEN retention_ratio ELSE 0 END) d2,
        MAX(CASE retention_day WHEN 3 THEN retention_ratio ELSE 0 END) d3,
        MAX(CASE retention_day WHEN 4 THEN retention_ratio ELSE 0 END) d4,
        MAX(CASE retention_day WHEN 5 THEN retention_ratio ELSE 0 END) d5,
        MAX(CASE retention_day WHEN 6 THEN retention_ratio ELSE 0 END) d6
        FROM ads_user_retention_day_rate
        GROUP BY DATE_FORMAT(create_date, "%Y-%m-%d")
    </select>
    <!--select concat(date_format(dt,'%Y'),'Q' ,FLOOR((date_format(dt,'%m')+2)/3)) `quarter`,sum(gmv_count) gmv_count,sum(gmv_amount) gmv_amount from ads_gmv_sum_day group by concat(date_format(dt,'%Y'),FLOOR((date_format(dt,'%m')+2)/3)) ORDER BY concat(date_format(dt,'%Y'),FLOOR((date_format(dt,'%m')+2)/3));-->
    <select id="queryGMVOrder" resultType="GMVOrder">
        select date_format(dt,'%Y-%m-%d') `quarter`,gmv_count gmv_count,gmv_amount gmv_amount from ads_gmv_sum_day ORDER BY date_format(dt,'%Y-%m-%d');
    </select>
    <select id="queryMapData" resultType="MapData">
        SELECT province name,gmv value,remark remark FROM ads_gmv_sum_province
    </select>
    <select id="queryConvertData" resultType="ConvertData">
        SELECT * FROM ads_user_action_convert_day WHERE date_format(dt,'%Y-%m-%d')=#{tag}
    </select>

</mapper>
